In [ ]:
2.
st1 = {89,22,'550','6661','107',39,41,57,97,11 }
   process element by element from the set
   find how many numbers are prime
   find the highest prime number

In [1]:
#####
class prime():
    def func1(self):
        st1 = {89,22,'550','6661','107',39,41,57,97,11}
        prime_list=set()
        for j in st1:
            if int(j)!=j:
                continue
            elif j>1:
                for k in range(2,j):
                    if (j%k)==0:
                        break
                else:
                    prime=set()
                    prime_list.add(j)
        prime_list1=list(prime_list)
        prime_list1.sort()
        return(prime_list,"highest prime number =",prime_list1[-1])
        
obj1=prime()        
obj1.func1()

({11, 41, 89, 97}, 'highest prime number =', 97)

In [ ]:
3.
lst1 = ['900',10,22,'561',778,1000,'1',21,'332']
   process the lst1 , converts the string to the int and add all the numbers
   in the lst1
   Find the second highest
   Find the third lowest number

In [158]:
####
class Analys_list():
    def define_list(self):
        self.lst12 = ['900',10,22,'561',778,1000,'1',21,'332']
        for i in self.lst12:
            if int(i)!=i:
                convert_int=int(i)
                self.lst12[self.lst12.index(i)]=convert_int
        return(self.lst12)
    def sort_list(self):
        self.lst12.sort()
        return("second hight no=",self.lst12[-2],"\n","third lowest no =",self.lst12[3])
obj2=Analys_list()
obj2.define_list()
obj2.sort_list()

('second hight no=', 900, '\n', 'third lowest no =', 22)

In [ ]:
4.
str1 = 'India:is:a:country:in:Asia.:Capital:of:India:is:New:Delhi'
   split the string on ':' basis
   iterate the result after you slit and display all the names in reverse
   store the reverse EACH name in some set1
   example reverse of India is aidnI and so on....

In [32]:
class reverce():
    def split(self):
        str1 = 'India:is:a:country:in:Asia.:Capital:of:India:is:New:Delhi'
        splited=str1.split(':')
        print(splited)
        set1=set()
        for i in splited:
            adding=set1.add(i[::-1])
        print(set1)
obj=reverce()
obj.split()

['India', 'is', 'a', 'country', 'in', 'Asia.', 'Capital', 'of', 'India', 'is', 'New', 'Delhi']
{'ni', 'yrtnuoc', 'latipaC', 'weN', '.aisA', 'ihleD', 'aidnI', 'fo', 'a', 'si'}

In [ ]:
1.
lst1 = ['Sanjay','Kiran','Anand','Vijay','Anitha']
   lst2 = ['Kumar','Rao','Sharma','Kapoor','Prasad']
   taken 1 name from lst1 , take another name parallely from list2
   add them and store the result in the set
   iterate and print the set 
   find the name having max char
   how many names starts with 'A'
   pick the name from the set and process how many Surname starts with 'K'

In [1]:
1.
class names():
    def full_name(self):
        lst1 = ['Sanjay','Kiran','Anand','Vijay','Anitha']
        lst2 = ['Kumar','Rao','Sharma','Kapoor','Prasad']
        self.P_Name_set=set()
        for a, b in zip(lst1,lst2):
            ele_name_set=a+" "+b
            self.P_Name_set.add(ele_name_set)
        print(self.P_Name_set)
    def longest(self):
        max_len=0
        char='A'
        count=0
        for i in self.P_Name_set:
            print(i)
            if len(i)>max_len:
                max_len=len(i)
                result=i
            if i[0].lower()==char.lower():
                count+=1
            name_split=i.split(" ")
        print("longest name",result)
        print("number of names start with A",count)
    def surname(self):
        p_name_list=list(self.P_Name_set)
        l2=[]

        for ele in self.P_Name_set:
            l2.append(ele.split())
        new=[]
        for ele in sorted(l2, key=lambda x: x[-1]):
             new.append('_'.join(ele))
        print(new)
        count_k=0
        for j in new:
            new_split=j.split("_")
            surname=new_split[-1]
            if surname[0].lower()=="k":
                count_k+=1
        print("number of surname start with k",count_k)
name=names()
name.full_name()
name.longest()
name.surname()

{'Anitha Prasad', 'Kiran Rao', 'Anand Sharma', 'Sanjay Kumar', 'Vijay Kapoor'}
Anitha Prasad
Kiran Rao
Anand Sharma
Sanjay Kumar
Vijay Kapoor
longest name Anitha Prasad
number of names start with A 2
['Vijay_Kapoor', 'Sanjay_Kumar', 'Anitha_Prasad', 'Kiran_Rao', 'Anand_Sharma']
number of surname start with k 2

In [ ]:
5) explore the string methods like
   join, lstrip, swapcase, find, isalpha, isdigit , partition, zfill, title
6) given 
   st1 = '451'
   st2 = '34.55'
   i = 10
   j = 22.5
   convert appropriately and add all the numbers....
                      **********

In [144]:
6.
class integer():
    def values(self):
        st1 = '451'
        st2 = '34.55'
        print(int(st1),type(st1))
        i = 10
        j = 22.5
        st11=int(st1)
        print(st11,type(st11))
        st22=float(st2)
        print(st22,type(st22))
        lists=[st11,st22,i,j]
        print(lists)
        print(sum(lists))
object=integer()
object.values()

451 <class 'str'>
451 <class 'int'>
34.55 <class 'float'>
[451, 34.55, 10, 22.5]
518.05

In [122]:
5.
class strings():
    def join(self):
        self.st1 = 'hello world'
        self.st2 = 'you are the best'
        self.i = "water falls"
        self.j = "spring season"
        print("join ="," ".join([self.st1,self.st2]))
        print("% =","%s %s"%(self.st1,self.st2))
        print("format =","{} {}".format(self.st1,self.st2))
    def lstrip(self): 
        print(self.st2.lstrip("yo"))     #Python String lstrip() method returns a copy of the string 
    def swapcase(self):                 #with leading characters removed (based on the string argument passed).If no argument is passed, it removes leading spaces.
        print(self.i.swapcase())       #The swapcase() method returns a string where all the upper case letters are lower case and vice versa.
    def find(self):
        sentence="Hi World, Sorry for disturbing you"
        print(sentence.find("Hi",3))
        print(sentence.find("for",3))
    def isalpha(self):
        print(self.st1.isalpha())         #The isalpha() method returns True if all the characters are alphabet letters (a-z).
    def isdigit(self):
        print(self.st1.isdigit())  
    def partition(self):                  #The partition() method searches for a specified string, and splits the string into a tuple containing three elements
        print(self.st2.partition("3"))
        print(self.st2.partition("4"))
    def zfill(self):                      #The zfill() method returns a copy of the string with '0' characters padded to the left. It adds zeros (0) at the beginning of the string until the length of a string equals the specified width parameter.
        print(self.st1.zfill(10))
    def title(self):                      #The title() function in python is the Python String Method which is used to convert the first character in each word to Uppercase and remaining characters to Lowercase in the string and returns a new string
        print(self.st1.title())
        
obj1=strings()        
obj1.join()
obj1.lstrip()
obj1.swapcase()
obj1.find()
obj1.isalpha()
obj1.isdigit()
obj1.partition()
obj1.zfill()
obj1.title()

join = hello world you are the best
% = hello world you are the best
format = hello world you are the best
u are the best
WATER FALLS
-1
16
False
False
('you are the best', '', '')
('you are the best', '', '')
hello world
Hello World