In [ ]:
import pymysql
conn=pymysql.connect(host='localhost',port=int(3306),user='root',passwd='deeraj',db='dimention')
import pandas as pd
df1=pd.read_sql_query("SELECT * FROM product_family",conn) #Read the table from mysql database using pandas
df2=pd.read_sql_query("SELECT * FROM product_cat",conn) #Read the table from mysql database using pandas
df3=pd.read_sql_query("SELECT * FROM products",conn) #Read the table from mysql database using pandas
#df3=pd.merge(df,df1,left_on='prod_id',right_on='prod_id_t',how='left')
DIM123=pd.merge(df1,df2,left_on='prod_fam_id',right_on='prod_fam_id_c',how='left')
DIM11=pd.merge(DIM123,df3,left_on='prod_cat_id_c',right_on='prod_cat_id',how='right')
DIM12=DIM11[["prod_id","prod_name","prod_cat_desc","prod_fam_desc","prod_price","crt_date","mod_date"]]
DIM12['cur_rec_ind']="N"
DIM12.insert(0,'prod_sur_id',range(1,1+len(DIM12)))
import sqlalchemy
engine=sqlalchemy.create_engine('mysql+pymysql://'+'root'+':'+'deeraj'+'@localhost:3306/'+'dimention')
for i,row in DIM12.iterrows():
    engine.execute("""insert into DIM133
    (prod_sur_id,prod_id,prod_name,prod_cat_desc,prod_fam_desc,prod_price,crt_date,mod_date,cur_rec_ind) 
    VALUES (%d,%d,'%s', '%s', '%s', %d,'%s','%s','%s')""" 
    % (int(row['prod_sur_id']),int(row['prod_id']),row['prod_name'],row['prod_cat_desc'],row['prod_fam_desc'],row['prod_price'],row['crt_date'],row['mod_date'],row['cur_rec_ind']));

In [ ]:
conn=pymysql.connect(host='localhost',port=int(3306),user='root',passwd='deeraj',db='dimention')
df11=pd.read_sql_query("SELECT * FROM DIM133",conn) #Read the table from mysql database using pandas
DIM12=df11
print(DIM12)

from datetime import date
today = date.today()
print("Today date is: ", today)

def func1(DIM1aaaa):
    indes=list(DIM12["prod_sur_id"])
    mx=max(list(DIM12["prod_sur_id"]))
    prod_ids=int(input("product id"))
    prod_prices=int(input("prod_price"))
    h=True
    while h:
        DIM12["prod_id"]
        if (prod_ids-1) in DIM12["prod_id"]:
            print("yees")
            print(mx+1)
            row=DIM12[(DIM12['prod_id']==prod_ids) & (DIM12['mod_date']==DIM12['mod_date'].max())]  
            for i,j in row.iterrows():              #Report_Card.loc[:,"Grades"]   exists = 0 in df.Aexists = 0 in df.A
                if prod_prices!=j['prod_price']:
                    print("yes")
                    row1=DIM12[DIM12['prod_id']==prod_ids] #df.at[2,'age']=40
                    print(row1)
                    import sqlalchemy
                    engine=sqlalchemy.create_engine('mysql+pymysql://'+'root'+':'+'deeraj'+'@localhost:3306/'+'dimention')
                    for i,row in row1.iterrows():
                        engine.execute("""insert into DIM133
                        (prod_sur_id,prod_id,prod_name,prod_cat_desc,prod_fam_desc,prod_price,crt_date,mod_date,cur_rec_ind) 
                        VALUES (%d,%d,'%s', '%s', '%s', %d,'%s','%s','%s')""" 
                        % (mx+1,int(row['prod_id']),row['prod_name'],row['prod_cat_desc'],row['prod_fam_desc'],prod_prices,row['crt_date'],date.today(),"Y"));
                    
                    print(DIM12)
                    h=False
                    break
                if prod_prices==j['prod_price']:
                    h=False
                    break
        if (prod_ids-1) not in DIM12['prod_id']:
            print("prod id not in the table ")
            row2=[mx+1,prod_ids,"Fridge","Home Furniture","Electronics",15000,date.today(),'9999-12-31',"N"]
            import sqlalchemy
            engine=sqlalchemy.create_engine('mysql+pymysql://'+'root'+':'+'deeraj'+'@localhost:3306/'+'dimention')
            engine.execute("""insert into DIM133
            (prod_sur_id,prod_id,prod_name,prod_cat_desc,prod_fam_desc,prod_price,crt_date,mod_date,cur_rec_ind) 
            VALUES (%d,%d,'%s','%s','%s',%d,'%s','%s','%s')""" 
            % (row2[0],row2[1],row2[2],row2[3],row2[4],row2[5],row2[6],row2[7],row2[8]));
            print(DIM12)
            h=False
            break
                    
func1(DIM12)

In [ ]:
print(DIM12)

In [ ]:
df11=pd.read_sql_query("SELECT * FROM DIM133",conn) #Read the table from mysql database using pandas
DIM12=df11
print(DIM12)

In [ ]:
conn=pymysql.connect(host='localhost',port=int(3306),user='root',passwd='deeraj',db='dimention')
pd.read_sql_query(" select * from dim133",conn)